<div>
    <form [formGroup]= "verificationForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-card>
        <!-- <mat-card-header>
            <mat-card-title>Verification Form</mat-card-title>
        </mat-card-header> -->

        <h1>erification Form</h1>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field clas ="full-width">
                        <input formControlName="city" matInput placeholder="City">
                    </mat-form-field>
                 </div>
                <div class="col-md-6">
                    <mat-form-field clas ="full-width">
                        <input formControlName="panNumber" matInput placeholder="PanNumber">
                    </mat-form-field>
                 </div>   
                    <div class="col-md-6">
                        <mat-form-field clas ="full-width">
                            <input  formControlName="fullName" matInput placeholder="FullName">
                        </mat-form-field>
                     </div>
                     <div class="col-md-6">
                        <mat-form-field clas ="full-width">
                            <input  formControlName="email" matInput placeholder="Email">
                        </mat-form-field>
                     </div>
                     <div class="col-md-6">
                        <mat-form-field clas ="full-width">
                            <b>+91</b><input  formControlName="mobilenumber" matInput placeholder="MobileNumber">
                        </mat-form-field>
                     </div>

                   </div>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" [disabled]="!verificationForm.valid">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>

<ng-container *ngIf="isprecheck">
    <form [formGroup]= "OTPForm" (ngSubmit)="onOtpSubmit()" class="form-container">
        <mat-card>
            <!-- <mat-card-header>
                <mat-card-title>Verification Form</mat-card-title>
            </mat-card-header> -->
            <mat-card-content>
                <div class="row">
                 
                         
                         <div class="col-md-6">
                            <mat-form-field clas ="full-width">
                                <input  formControlName="otp" matInput placeholder="OTP">
                            </mat-form-field>
                         </div>
    
                       </div>
            </mat-card-content>
            <mat-card-actions>

                <button type="submit" [disabled]="!OTPForm.valid">VerifyOTP</button>
                <button type="submit" [disabled]="!OTPForm.valid">Resend OTP</button>
            </mat-card-actions>
            <!-- <div *ngFor="let entry of entry">
                <span *ngIf = "getElapsedTime(entry) as elapsed">
                    <h1>{{elapsed.minutes}} : {{elapsedseconds}}</h1>
                </span>
            </div> -->
        </mat-card>
    </form>
</ng-container>
</div>




